<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'list_categories' %}">Expense Categories</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create Expense Category</a>
            </li>
            <li>
                <a href="{% url 'accounts' %}">Accounts</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create Account</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            {% block extra_links %}
            {% endblock extra_links %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>
