{% extends 'base.html' %}


{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
        {% for account in account_list %}
            {% if account.owner == request.user %}
                <tr>
                    <th>{{ account.name }}</th>
                    <th>{{ account.number }}</th>
                    <th>{{ account.receipts.count }}</th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</main>
{% endblock content %}
