{% extends 'base.html' %}


{% block content %}
<main>
    <h1>My Expense Categories</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
        {% for category in expensecategory_list %}
            {% if category.owner == request.user %}
                <tr>
                    <th>{{ category.name }}</th>
                    <th>{{ category.receipts.count }}</th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</main>
{% endblock content %}
