{% extends 'base.html' %}


{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
        {% for receipt in receipt_list %}
            {% if receipt.purchaser == request.user %}
                <tr>
                    <th>{{ receipt.vendor }}</th>
                    <th>{{ receipt.total }}</th>
                    <th>{{ receipt.tax }}</th>
                    <th>{{ receipt.date | date:"m-d-Y" }}</th>
                    <th>{{ receipt.category }}</th>
                    <th>{{ receipt.account }}</th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</main>
{% endblock content %}
